html, body {
 height: 3000px;
}
.wrapper {
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    position: fixed;

}
#reload {
    width: 50%;
    height: 50%;
}
.about_main_div p{
    margin-bottom: 2%;
    width: 100%;
    height: auto;
    max-height: 24vh; 
    overflow-y: auto;
}
.about_main_div{
    position: fixed;
    top: 20%;
    right:10%;
    width: 30%;
    max-width: 400px;
    height: auto;
    overflow-y: auto;
    transition: right 1s ease;
}
.about{
    font-size: xxx-large;
    font-weight: bolder;
}
.about_intro_line{
    font-size: x-large;
    color:rgb(104, 104, 104);
    font-family: 'Gowun Batang', serif;
}
.about_intro_para{
    font-family: 'Gowun Batang', serif;
    color: black;
   
}
.topnav {
    overflow: hidden;
    background-color: #7C7458;
    position: relative;
    font-family: 'Gowun Batang', serif;
    z-index: 1;
  }
  

  .topnav #topnav_links {
    display: none;
  }
  
  
  .topnav a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  
  .topnav a.topnav_hamburger_icon {
    background:#EB7550 ;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
 
  .topnav a:hover {
    background-color: #EB7550;
    color: black;
  }
  
  .topnav_logo_icon{
    background-color:#EB7550;
    color: #7C7458;
  }
  .slogan_main_div{
    position: fixed;
    top: 38%;
    left:10%;
    width: 20%;
  }
  .slogan_main_div p span{
    font-size: xx-large;
    opacity: 0; 
    transition: opacity 0.5s ease;
  }
  .projects_main_div {
    position: fixed;
    bottom: -60%;
    left: 10%;
    width: 80%;
    transition: bottom 1s ease;
    overflow: visible; /* Allow overflow for overlapping elements */
    
  }
  
  .projects_imagegrid {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 15px; /* Optional: Add some spacing between the images */
    transform-origin: left;
    transition: transform 0.5s;
  }
  
  .image-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc(33.33% - 10px); /* Adjust width as needed, considering the gap */
  }
  
  .image-container img {
    border: 1px solid black;
  }
  
  .hover-image {
    cursor: pointer; /* Change cursor to pointer */
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
  }
  
  .hover-text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    display: none; /* Hide text initially */
  }
  
  .image-container:hover .hover-image {
    transform: scale(1.05); /* Increase size by 5% */
  }
  
  .image-container:hover .hover-text {
    display: block; /* Show text on hover */
  }

  .right-arrow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: 20px;
  }
  
  .right-arrow-container i {
    font-size: 48px;
  }
  
  .right_animate {
    cursor: pointer;
  }
@media screen and (max-width: 768px) {
    #reload {
        width: 50%;
        height: 50%;
        
    }
    .wrapper{
        left: 60%;
    }
    .about_main_div {
        top: 10%; 
        right: 5%;
    }
    .slogan_main_div{
        top: 38%;
        left:10%;
        width: 20%;
    }
}